<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중독되지 않도록 네임스페이스 기재 -->
<mapper namespace="packet">
	<select id="now"
		resultType="com.humanstar.crocheck.model.dashboard.dto.todayPacketVO">
		select count as packet_count
		from alert_stat_10sec_ratio order by
		created_at desc limit 24;
	</select>
</mapper>
