<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중독되지 않도록 네임스페이스 기재 -->
<mapper namespace="organization">
	<select id="memberlist"
		resultType="com.humanstar.crocheck.model.organization.dto.memberVO">
		select * from organization_members
	</select>
	<select id="relocation" resultType="com.humanstar.crocheck.model.organization.dto.postVO">
	SELECT * FROM organizations ORDER BY (CASE WHEN parent_id IS NULL THEN 0 ELSE 1 END), parent_id,created_at
	</select>
	<select id="postlist"
		resultType="com.humanstar.crocheck.model.organization.dto.postVO">
		select * from organizations order by flowcount asc
	</select>
	<select id="selectpost" resultType="com.humanstar.crocheck.model.organization.dto.postVO">
		select * from organizations where id= #{id} 
	</select>
	<select id="postmembers"
		resultType="com.humanstar.crocheck.model.organization.dto.memberVO">
		select * from organization_members
		<where>
			<if test="organization_id != null">
				organization_id = #{organization_id}
			</if>
		</where>
	</select>
	<select id="postsearchlist"
		resultType="com.humanstar.crocheck.model.organization.dto.postVO">
		select * from organizations where id = #{id}
	</select>
	<insert id="insertmember">
		insert into organization_members(ip, post, name,
		phone, etc, created_at, updated_at, organization_id,  mobile,
		email)
		values( #{ip}::inet, #{post}, #{name}, #{phone}, #{etc}, now(), now(),
		#{organization_id},  #{mobile}, #{email} )
	</insert>
	<update id="updatemember">
		update organization_members set
		post = #{post},
		name =
		#{name},
		phone = #{phone},
		etc = #{etc},
		updated_at =now(),
		organization_id = #{organization_id},
		gid =#{gid},
		mobile =#{mobile},
		email = #{email}
		where id= #{id}
	</update>
	<delete id="deletemember">
		delete from organization_members where id = #{id}
	</delete>
	<select id="selectmember"
		resultType="com.humanstar.crocheck.model.organization.dto.memberVO">
		select * from organization_members where id = #{id}
	</select>
	<insert id="insertpost">
		insert into organizations(name, description,created_at, updated_at, parent_id)
		values(#{name}, #{description}, now(), now() , #{parent_id} )
	</insert>
	<update id="updatepost">
		update organizations
		set name = #{name},
		updated_at = now(),
		parent_id = #{parent_id},
		flowcount = #{flowcount}
		where id = #{id}
	</update>
	<delete id="deletepost">
		delete from organizations where id= #{id}
	</delete>
</mapper>