<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중독되지 않도록 네임스페이스 기재 -->
<mapper namespace="statPacket">
	<select id="lastdns"
		resultType="com.humanstar.crocheck.model.statistics.dto.statPacketVO">
		SELECT count, to_char(cr_at, 'hh24:mi') AS created_at FROM
		(SELECT SUM(count) AS count,
		DATE_TRUNC('min', created_at) AS cr_at
		FROM dns_stat_10sec_all WHERE
		created_at >= now() - interval '10 min'
		GROUP BY cr_at ORDER BY cr_at
		ASC) AS dns;

	</select>
	<select id="lastddos"
		resultType="com.humanstar.crocheck.model.statistics.dto.statPacketVO">
		SELECT count, to_char(cr_at, 'hh24:mi') AS created_at FROM
		(SELECT SUM(count) AS count,
		DATE_TRUNC('min', created_at) AS cr_at
		FROM ddos_stat_10sec_all WHERE
		created_at >= now() - interval '10 min'
		GROUP BY cr_at ORDER BY cr_at
		ASC) AS ddos;

	</select>
	<select id="mindns"
		resultType="com.humanstar.crocheck.model.statistics.dto.statPacketVO">
		SELECT count, to_char(cr_at, 'hh24:mi') AS created_at FROM (SELECT
		SUM(count) AS count,
		DATE_TRUNC('min', created_at) AS cr_at FROM
		dns_stat_10sec_all
		<where>
			<if test="date_start != null">
				created_at >=
				date_trunc('second',(#{date_start}::TIMESTAMP
				WITHOUT
				TIME ZONE))
			</if>
			<if test="date_end != null">
				and
				date_trunc('second',(#{date_end}::TIMESTAMP WITHOUT
				TIME ZONE)) > created_at
			</if>
		</where>
		GROUP BY cr_at ORDER BY cr_at DESC) AS dns;
	</select>
	<select id="minddos"
		resultType="com.humanstar.crocheck.model.statistics.dto.statPacketVO">
		SELECT
		count,
		to_char(cr_at, 'hh24:mi') AS created_at
		FROM
		(SELECT
		SUM(count) AS count,
		DATE_TRUNC('min', created_at) AS cr_at
		FROM
		ddos_stat_10sec_all
		<where>
			<if test="date_start != null">
				created_at >=
				date_trunc('second',(#{date_start}::TIMESTAMP
				WITHOUT
				TIME ZONE))
			</if>
			<if test="date_end != null">
				and
				date_trunc('second',(#{date_end}::TIMESTAMP WITHOUT
				TIME ZONE)) > created_at
			</if>
		</where>
		GROUP BY cr_at ORDER BY cr_at
		ASC)
		AS ddos
	</select>
	<select id="hourdns"
		resultType="com.humanstar.crocheck.model.statistics.dto.statPacketVO">
		SELECT count, to_char(cr_at, 'dd hh24:mi') AS created_at FROM (SELECT
		SUM(count) AS count,
		DATE_TRUNC('hour', created_at) AS cr_at FROM
		dns_stat_10sec_all
		<where>
			<if test="date_start != null">
				created_at >=
				date_trunc('second',(#{date_start}::TIMESTAMP
				WITHOUT
				TIME ZONE))
			</if>
			<if test="date_end != null">
				and
				date_trunc('second',(#{date_end}::TIMESTAMP WITHOUT
				TIME ZONE)) > created_at
			</if>
		</where>
		GROUP BY cr_at ORDER BY cr_at DESC) AS dns;
	</select>
	<select id="hourddos"
		resultType="com.humanstar.crocheck.model.statistics.dto.statPacketVO">
		SELECT
		count,
		to_char(cr_at, 'dd hh24:mi') AS created_at
		FROM
		(SELECT
		SUM(count) AS count,
		DATE_TRUNC('hour', created_at) AS cr_at
		FROM
		ddos_stat_10sec_all
		<where>
			<if test="date_start != null">
				created_at >=
				date_trunc('second',(#{date_start}::TIMESTAMP
				WITHOUT
				TIME ZONE))
			</if>
			<if test="date_end != null">
				and
				date_trunc('second',(#{date_end}::TIMESTAMP WITHOUT
				TIME ZONE)) > created_at
			</if>
		</where>
		GROUP BY cr_at ORDER BY cr_at
		ASC)
		AS ddos
	</select>
	<select id="daysdns">
	</select>
	<select id="daysddos">
	</select>
</mapper>