@charset "UTF-8";

.btn-nymph {
	color: white;
	background-color: #719EA1;
	border-color: #94B7B9;
}

.btn-nymph:hover {
	color: white;
	background-color: #7CB7B9;
	border-color: #94B7B9;
}

.btn-darkTwt {
	color: white;
	background-color: #192633;
	border-color: #212D3A;
}

.btn-darkTwt:hover {
	color: white;
	background-color: #0D1319;
	border-color: #212D3A;
}

.btn-lightDarkTwt {
	color: white;
	background-color: #6A727B;
	border-color: #d6d6d6;
}

.btn-lightDarkTwt:hover {
	color: white;
	background-color: #62666A;
	border-color: #d6d6d6;
}

.btn-lightDarkTwt:focus {
	color: white;
}

.btn-lightDarkTwt:active {
	background-color: #52535A;
}

.btn-brightDarkTwt {
	color: white;
	background-color: #9FA4AA;
	border-color: #D0D3D5;
}

.btn-brightDarkTwt:hover {
	color: white;
	background-color: #999C9F;
	border-color: #A2A7AC;
}

.btn-brightDarkTwt:focus {
	color: white;
}

.btn-lightDarkTwt-link {
	color: #6A727B;
}

.btn-lightDarkTwt-link:hover {
	color: #62666A;
}

.btn-lightDarkTwt-link:focus {
	color: #6A727B;
}

.btn-lightDarkTwt-link:active {
	color: #818B96;
}

.btn-tuna {
	color: white;
	background-color: #47484E;
	border-color: #3D3E43;
}

.btn-tuna:focus, .btn-tuna.focus {
	color: white;
	background-color: #3F4045;
	border-color: #292A2E;
}

.btn-tuna:hover {
	color: white;
	background-color: #3F4045;
	border-color: #35363B;
}

.btn-tuna:active, .btn-tuna.active, .open>.btn-tuna.dropdown-toggle {
	color: white;
	background-color: #3F4045;
	border-color: #35363B;
}

.btn-tuna:active:hover, .btn-tuna:active:focus, .btn-tuna:active.focus,
	.btn-tuna.active:hover, .btn-tuna.active:focus, .btn-tuna.ac tive.focus,
	.open>.btn-tuna.dropdown-toggle:hover, .open>.btn-tuna.dropdown-toggle:focus,
	.open>.btn-tuna.dropdown-toggle.focu s {
	color: white;
	background-color: #303135;
	border-color: #2B2C2F;
}

.btn-tuna:active, .btn-tuna.active, .open>.btn-tuna.dropdown-toggle {
	color: white;
	background-image: none;
}

.btn-tuna.disabled:hover, .btn-tuna.disabled:focus, .btn-tuna.disabled.focus,
	.btn-tuna[disabled]:hover, .btn-tuna[disabled]:focus, .btn-tuna[disabled].focus,
	fieldset[disabled] .btn-tuna:hover, fieldset[disabled] .btn-tuna:focus,
	fieldset[disabled] .btn-tuna.focu s {
	background-color: #47484E;
	border-color: #3D3E43;
}

.btn-tuna .badge {
	color: #47484E;
	background-color: white;
}

.btn-flat {
	padding-top: 1px;
	padding-bottom: 1px;
}

.full-width {
	width: 100%;
}

.margin-side-zero {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.padding-zero {
	padding: 0;
}

.modal-header-alert {
	padding: 13px 15px;
	border-bottom: 1px solid #eee;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #d9534f;
	color: white;
}

.modal-header-warning {
	padding: 13px 15px;
	border-bottom: 1px solid #eee;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #f0ad4e;
	color: white;
}

.modal-header-success {
	padding: 13px 15px;
	border-bottom: 1px solid #eee;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #5cb85c;
	color: white;
}

.modal-header-primary {
	padding: 13px 15px;
	border-bottom: 1px solid #eee;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #337ab7;
	color: white;
}

.modal-header-tuna {
	padding: 13px 15px;
	border-bottom: 1px solid #eee;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #47484E;
	color: white;
}

.panel-default-thick {
	border-color: #777777;
}

.panel-default-thick>.panel-heading {
	color: white;
	border-color: #777777;
	background-color: #5f6169;
}

.panel-success-thick {
	border-color: #3c763d;
}

.panel-success-thick>.panel-heading {
	color: white;
	background-color: #3c763d;
	border-color: #3c763d;
}

.panel-default .sortable {
	color: #5f6169;
}

.panel-default-thick .sortable {
	color: #5f6169;
}

.panel-success-thick .sortable {
	color: #3c763d;
}

.panel-success .sortable {
	color: #3c763d;
}

.nav.nav-default-thick>li.active>a {
	color: white;
	background-color: #5f6169;
}

.nav.nav-default-thick>li.active>a:hover {
	background-color: #777777;
}

.nav.nav-default-thick>li>a {
	color: #5f6169;
}

.nav.nav-default-not-bg>li.active>a {
	color: #5f6169;
	background-color: inherit;
	font-weight: bold;
}

.nav.nav-default-not-bg>li.active>a:hover {
	background-color: #F3F3F4;
}

.nav.nav-default-not-bg>li.active>a:before {
	content: "■ ";
}

.nav.nav-default-not-bg>li>a {
	color: #5f6169;
	background-color: inherit;
	cursor: pointer;
}

@media ( min-width : 992px) {
	.nav.nav-default-not-bg>li>a {
		padding-right: 0;
	}
}

.nav.nav-default-not-bg>li>a:hover {
	background-color: #F3F3F4;
}

.form-title {
	margin: 0;
	display: inline;
	float: left;
	color: #5f6169;
}

.form-sub-title {
	margin-bottom: 6px;
}

.section-title {
	display: inline-block;
	color: #5f6169;
	padding: 0;
	margin-bottom: 42px;
}

.home-section-title {
	display: inline-block;
	color: #5f6169;
	padding: 0;
}

.section {
	overflow: hidden;
	margin: 20px 0;
}

.section-control {
	margin-bottom: 42px;
}

.document {
	padding: 21px 30px 42px;
}

#home-content .section {
	margin: 0;
}

.cell {
	overflow: hidden;
	margin: 0;
}

.add-row {
	background-color: white;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.add-row:hover {
	background-color: #f5f5f5;
}

.glyphicon.spinning {
	top: 2px;
	animation: spin 1s infinite linear;
	-webkit-animation: spin2 1s infinite linear;
}

.hiddenRow {
	padding: 0 !important;
	border: 0 !important;
}

.inner-collapse {
	padding: 20px;
}

ul.lookup {
	margin-bottom: 0;
}

ul.lookup li {
	line-height: 30px;
}

span.help-block-ip {
	margin-top: 10px;
	margin-bottom: 5px;
}

ul.help-block-ip {
	color: #737373;
	padding-left: 25px;
	margin-bottom: 0;
}

.word-break {
	word-break: break-all;
}

.disabled {
	opacity: 0.65;
	cursor: not-allowed;
	pointer-events: none;
	box-shadow: 0;
}

@
keyframes spin {from { transform:scale(1)rotate(0deg);
	
}

to {
	transform: scale(1) rotate(360deg);
}

}
@
-webkit-keyframes spin2 {from { -webkit-transform:rotate(0deg);
	
}

to {
	-webkit-transform: rotate(360deg);
}
}