@charset "UTF-8";
#home-content .alert {
  margin: 10px 20px 0;
}
#home-content .row {
  margin: auto;
}
#home-content .list {
  overflow: auto;
}
#home-content .section-title {
  color: #333;
}
#home-content .section-title .section-sub-title {
  color: #979797;
}
#home-content .section-title .section-filter {
  float: right;
  font-size: 20px;
  margin-top: 5px;
  margin-right: 10px;
}
#home-content .table thead th a {
  color: #5f6169;
}
#home-content .table thead th a:hover {
  background-color: transparent;
  text-decoration: none;
}
#home-content .table tbody tr td {
  color: #333333;
}
#home-content .balance {
  width: 10%;
  padding-left: 0;
  padding-right: 0;
}
#home-content .cell-explain {
  display: inline-block;
  float: right;
  padding-right: 7px;
  margin-top: 22px;
  margin-bottom: 10px;
}
#home-content .cell-explain label:before {
  content: "■ ";
}
#home-content .cell-explain label {
  font-size: 0.9em;
  font-weight: 300;
}
#home-content .cell-explain label.abnormal {
  color: #C9302C;
}
#home-content .cell-explain label.normal {
  color: #5f6169;
}
#home-content #pharming-list .table .abnormal td {
  color: #C9302C;
  font-weight: bold;
}
#home-content #pharming-list .table .normal td {
  color: #5f6169;
}
#home-content #pharming-client-list .table .abnormal td {
  color: #C9302C;
  font-weight: bold;
}
#home-content #pharming-client-list .table .normal td {
  color: #5f6169;
}
