#domain-content .section-control {
  margin-bottom: 62px;
}
#domain-content .form-group .search, #domain-content .form-group button {
  float: right;
}
#domain-content .form-group button {
  margin-right: 3px;
}
#domain-content .form-group .search {
  max-width: 195px;
}
#domain-content .panel {
  border-radius: 0;
}
#domain-content .panel-heading {
  padding-left: 5px;
  border-radius: 0;
}
#domain-content .panel > table.first-child {
  border-radius: 0;
}
#domain-content .panel > table.last-child {
  border-radius: 0;
}
#domain-content p.no-record {
  margin: 76px;
}
#domain-content dl {
  margin-bottom: 0;
}
#domain-content dl dt {
  width: 90px;
}
#domain-content dl dd {
  margin-left: 110px;
}
#domain-content #zone {
  overflow: hidden;
}
#domain-content #zone .btn-group {
  display: flex;
  border-top: 0;
  border-bottom: 1px solid #dddddd;
}
#domain-content #ddos-block-section {
  padding: 0;
}
#domain-content #ddos-block-section #ddos-block-status {
  padding: 0;
}
#domain-content #lookup-section {
  padding: 0;
}
#domain-content #lookup-section .input-group {
  width: 25%;
}
#domain-content #lookup-section #lookup-result.show {
  margin-top: 15px;
  margin-left: 5px;
}
#domain-content #zone-section {
  padding: 0 15px 0 0;
}
#domain-content #sub-section {
  padding: 0 0 0 15px;
}
#domain-content #sub thead {
  display: table-header-group !important;
}
#domain-content #sub tbody td.btn-group {
  border-top: 0;
}
#domain-content #sub tbody td.empty {
  text-align: center;
}
#domain-content button#add-domain, #domain-content button#add-sub-domain {
  float: right;
}
#domain-content button#add-sub-domain {
  margin-left: 10px;
}

.domains .modal .table {
  margin-bottom: inherit;
}
