#organizations-content #category-header {
  margin-top: 10px;
  margin-bottom: 15px;
}
#organizations-content #category-list > ul > li {
  margin-left: 15px;
}
#organizations-content #category-list > ul > ul > li {
  margin-left: 30px;
}
#organizations-content #category-list > ul > ul > ul > li {
  margin-left: 45px;
}
#organizations-content #category-list .list-group-item {
  border: none;
  word-break: break-all;
  white-space: inherit;
}

#confirm-delete-modal .modal-body{
  word-break: break-all;
  white-space: inherit;
}

#organizations-content li.list-group-item[data-toggle="collapse"] {
  font-weight: 700;
  background-color: #CBCBCB;
}
#organizations-content li.list-group-item[data-toggle="collapse"]:before {
  position: relative;
  top: -2px;
  margin-right: 5px;
  content: '-';
}
#organizations-content li.list-group-item[data-toggle="collapse"].collapsed:before {
  content: '+';
}
#organizations-content li.list-group-item[data-toggle="uncollapse"] {
  background-color: #F2F2F2;
}
#organizations-content li.list-group-item[data-toggle="uncollapse"]:before {
  position: relative;
  top: -1px;
  margin-left: 13px;
  content: '';
}
#organizations-content .list-group {
  margin-bottom: 0;
}
#organizations-content #add-category {
  margin-top: -3px;
  padding: 6px 6px;
  font-size: 5px;
  line-height: 1;
  border-radius: 3px;
}
#organizations-content #add-category span.glyphicon {
  top: 0;
}
#organizations-content .glyphicon-pencil {
  font-size: 11px;
  top: 3px;
  cursor: pointer;
}
#organizations-content .glyphicon-remove {
  font-size: 14px;
  margin-left: 3px;
  cursor: pointer;
}
#organizations-content #member-table {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
