@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/NotoSansKR-Regular.woff') format("woff");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/NotoSansKR-Medium.woff') format("woff");
}
@page {
  size: A4;
  margin: 0;
}

html, body {
  width: 210mm;
  height: 297mm;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.1em;
}

td {
  font-size: 6pt;
}

body {
  background-color: #F3F3F4;
}

h3, h4, div, a, td, p {
  font-family: 'Noto Sans KR', sans-serif;
}

header {
  margin-bottom: 42px;
}
#export-content h3 {
  color: #3d4049;
}
#export-content .run {
  font-weight: 600;
}
#export-content .true {
  color: #337AB7;
}
#export-content .false {
  color: #D9534F;
}
#export-content .form-sub-title {
  color: #337AB7;
}
#export-content .balance {
  width: 10%;
  padding-left: 0;
  padding-right: 0;
}
#export-content #warning_block-report .balance {
  width: 7%;
}
#export-content #donut-report table {
  width: 55%;
  margin: -15px auto 10px auto; 
  text-align: center;
}
#export-content #domain-report table {
  margin: -15px auto 10px auto; 
  margin-bottom: 42px;
}
#export-content .limit-height {
  overflow: auto;
  max-height: 1000px;
}

.report-donut-title {
  color: #5f6169;
  margin-top: 10px;
  margin-bottom: -25px;
}

.report-section-title {
  color: #5f6169;
  margin-top: 10px;
  margin-bottom: 25px;
}

.btn-report {
  position: fixed;
  padding: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn-report span {
  font-size: 24px;
}

#report-export-button {
  bottom: 20px;
}

#report-print-button {
  bottom: 140px;
}

#report-export-pdf {
    bottom: 80px;
}

#donut-report {
    float: left;
    width: 100%;
    overflow: hidden;
    margin: 0;
    background: white;
    border: 15px solid #F3F3F4;
    page-break-inside: avoid;
}

#donut-report .donut-col {
    border-radius: 0px;
    width: 25%;
    float: left; 
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
#donut-report .donut-col table tbody tr td{
   text-align:left;
}
#donut-report .donut-col table tbody tr .fixed_td{
   max-width:40px;
   overflow:hidden;
   text-overflow:ellipsis;
}

#pharming_departure-report {
  page-break-inside: avoid;
}

#pharming_domain-report {
  page-break-inside: avoid;
}

#pharming_departure_suspicious-report {
  page-break-inside: avoid;
}

#pharming_domain_suspicious-report {
  page-break-inside: avoid;
}

#cpu-report {
  page-break-inside: avoid;
}

#memory-report {
  page-break-inside: avoid;
}

#disk-report {
  page-break-inside: avoid;
  page-break-after: always;
}
.norecord{
  text-align: center;
}
/*
#black_block-report {
  page-break-inside: avoid;
}

#black_domain-report {
  page-break-inside: avoid;
}

#black_ip-report {
  page-break-inside: avoid;
}
*/

@media print {
  /*
  .limit-height {
    max-height: none !important;
  }
  */
  [class*="col-md"], [class*="col-sm"], [class*="col-xs"] {
        float: none;
 }

  #donut-report {
  }

  #cpu-report {
   }
  #memory-report {
  /*
  page-break-after: always;
  */
  }
  #disk-report {
  }
  
  #domain-report {
    height: auto;
    overflow-y: auto;
    /*
    page-break-before: always;
    */
  }
}
