#system-content .row {
  margin: 0;
}
#system-content .col-md-2 {
  word-break: keep-all;
}
#system-content .col-md-7 {
  padding-top: 2px;
}
@media (min-width: 992px) {
  #system-content .col-md-7 {
    padding-top: 7px;
  }
}
#system-content table {
  margin-bottom: inherit;
}
@-moz-document url-prefix() {
  #system-content table {
    table-layout: fixed;
  }
}
#system-content #console-name .col-md-10 label {
  margin-bottom: 0;
}
#system-content .add-row td {
  padding: 8px;
}
#system-content .close {
  color: red;
  opacity: 1;
  font-size: 18px;
  margin-top: -1px;
  margin-right: 6px;
}
#confirm-delete-modal .modal-body{
  white-space: normal;
}