#yuhais-content .form-group {
  margin-bottom: 7px;
}
#yuhais-content .form-group #btn-export, #yuhais-content .form-group .search, #yuhais-content .form-group button {
  float: right;
}
#yuhais-content .form-group #btn-search {
  margin-left: 5px;
  margin-right: 0;
}
#yuhais-content .form-group .search {
  margin-left: 5px;
}
#yuhais-content .form-group button {
  margin-right: 3px;
}
#yuhais-content .form-group #btn-calendar {
  height: 68px;
}
#yuhais-content .form-group .search {
  max-width: 195px;
}
#yuhais-content .form-group .daterange {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  float: right;
}
#yuhais-content .form-group .daterange.desktop {
  width: 265px;
  text-align: center;
}
#yuhais-content .form-group .daterange.mobile {
  width: 185px;
}
#yuhais-content .form-group .mobile {
  display: none;
}
#yuhais-content .form-group div.mobile {
  width: 235px;
  float: right;
}
#yuhais-content .table {
  margin-top: 20px;
}
#yuhais-content .table thead th a {
  color: #5f6169;
}
#yuhais-content .table thead th a:hover {
  background-color: transparent;
  text-decoration: none;
}
#yuhais-content .table tbody tr td {
  color: #333333;
}
#yuhais-content .table .balance {
  width: 4%;
  padding-left: 0;
  padding-right: 0;
}
#yuhais-content .table .lookup {
  margin-bottom: 10px;
}
#yuhais-content div#export {
  overflow: hidden;
}
#yuhais-content div#export #btn-export {
  position: relative;
  float: right;
}
#yuhais-content p.no-record {
  margin: 76px;
}
